*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body,
#root{
    height:100%;
}

body{
    font-family:
        Inter,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif;

    background:#F5F7FB;

    color:#1F2937;
}

a{
    text-decoration:none;
    color:inherit;
}

button{
    font-family:inherit;
}/* Global app styles will go here later */